/*===================reset========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
pre {
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: auto; 
}
/*===================end reset========================*/

/*================superfish=====================*/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99999;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu {
	float: right;
}
.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding: 1.5em 1.2em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #ffffff;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
}
.sf-menu ul li {
	background: #343434;
}
.sf-menu ul ul li {
	background: #343434;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #2980b9;
	transition: none;
	color:#FFFFFF;
}
.sf-menu li a:hover{ color:#FFFFFF; }

/* Active or Current Nav menu */
.sf-menu li.current{ background: #2980b9; }
.sf-menu li.current-menu-item{ background: #2980b9; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
/*================end superfish=====================*/



/*=====================style==========================*/
body{
	background:#f6f5f2;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700; line-height:1.4em; color:#555555; }

p{ font-size:16px; line-height:28px; color:#555555; }
a{ color:#444444; text-decoration:none; }
a:hover{ color:#2980b9; }

.clearfix:before,
.clearfix:after{
	display: table;
  	content: " ";
}
.clearfix:after{
	clear: both;
}

.clear{ clear: both; }
.wrapper{ width:100%; }

.first{ margin-left:0px; }
.last{ margin-right:0px; }

#back-top {
    bottom: 30px;
    position: fixed;
    right: 30px;
    text-align: center;
    z-index: 9999;
}
#back-top a {
    display: block;
    text-decoration: none;
    background: url("../images/top-link.png");
    width: 45px;
    height: 45px;
    transition: all 2s ease 0s;
}

/* ================================================== */
/* Spacer */
/* ================================================== */
.spacing-10{ height:10px; width:100%; }
.spacing-20{ height:20px; width:100%; }
.spacing-30{ height:30px; width:100%; }
.spacing-40{ height:40px; width:100%; }
.spacing-50{ height:50px; width:100%; }
.spacing-60{ height:60px; width:100%; }
.spacing-70{ height:70px; width:100%; }
.spacing-80{ height:80px; width:100%; }
.spacing-90{ height:90px; width:100%; }
.spacing-100{ height:100px; width:100%; }

/* ================================================== */
/* Header */
/* ================================================== */
#header-nav-container{
	background:#343434;
	}
#logo{ margin-left:15px; }
#header-nav-container .h-logo{ float: left; padding-left: 10px; padding-top: 15px;}
#header-nav-container .h-menu{ float: right;}
#header-nav-container .h-logo a{ font-size: 20px; color: #FFF;}

.btitle{ font-weight: bold; color: #000; font-size: 18px; padding: 0 0 10px 0; margin-top:10px;}

/* Posts */
.post{
	background:#FFFFFF;
	margin-bottom:40px;
	color:#666;
	}
.post .post-margin{ padding: 2% 2%; line-height: 22px;}
.post .post-title{ margin-bottom:5px; color:#666;}
.post-status li{ float:left; margin-right:10px; font-size:14px; color:#AAAAAA; }
.post-status li:last-child{ margin-right:0px; }
.post-status a{ color:#999999; }
.post-status i{ margin-right:5px; }

.post-title{ font-size: 22px;}
.post-subtitle{ font-size: 14px; margin: 8px 0;}

.post-avatar{ height:70px; width:70px; float:left; margin-right:20px; }
.post-avatar .avatar-frame{ background:url(../images/post-avatar.png) no-repeat; height:70px; width:70px; position:absolute; }

.post .readmore{ text-transform:uppercase; font-weight:700; }
.post .post-social .readmore{ background:#2980b9; padding-left:20px; padding-right:20px; }
.post .post-social .readmore:hover{ background:#343434; }
.post .readmore i{ font-size:14px; margin-left:3px; }

.post .post-social{ float:right; }
.post .post-social li:first-child a{ padding-left:16px; padding-right:16px; }
.post .post-social li{ float:left; font-size:14px; }
.post .post-social a{ background:#343434; color:#FFFFFF; padding:10px; padding-left:13px; padding-right:13px; display:inline-block }
.post .post-social a:hover{ background:#2980b9; }
.post-content{ margin-top: 20px;}

/* Post Icon and Video */
.post .featured-image{ width:100%; height:350px; }
.post .featured-image img{ width:100%; height:350px; }
.post .featured-image iframe{ width:100%; height:343px; }

.post .post-icon{ width:80px; height:80px; position:relative; bottom:40px; margin:0 auto; z-index:9999999 }
.post-icon .fa-stack{ height:80px; width:80px; font-size:40px; }
.post-icon .fa-picture-o{ font-size:30px; }
.post-icon .fa-circle{ color:#FFFFFF; }
.post-icon .fa-inverse{ color:#2980b9; }
.mcontent{ padding: 15px;}

/* Pagination */
.pager10{ padding: 10px 0;}
.pager20{ padding: 20px 0;}
.pagination li{ margin-right:3px; text-transform:uppercase }
.pagination li a{ background:#343434; color:#FFF; font-size:14px; padding:10px; padding-left:15px; padding-right:15px; font-weight:bold }
.pagination li a:hover{ background:#2980b9; color:#FFFFFF }
.pagination li.current a{ background:#2980b9; color:#FFFFFF }
.pagination .previous{ float: left;}
.pagination .next{ float: right;}

/* Related Posts in single page */
.related-posts{ margin-bottom:30px; }
.related-posts:last-child{ margin-bottom:0px; }
.related-posts h6{ font-size:16px; margin-bottom:5px; }
.related-posts p{ margin-bottom:0px; }
.related-posts-aligned{ overflow:hidden; }

/* Sidebar */
.widget-container{ background:#FFFFFF; margin-bottom:30px; padding-bottom:20px; }
.widget-title{
	padding:20px;
	padding-bottom:20px;
	font-size:14px;
	color:#343434;
	border-bottom:1px solid #EEEEEE;
	margin-bottom:20px;
	}

.widget-container ul{ margin-left:20px; margin-right:20px; font-size:16px; }
.widget-container li{ border-bottom:1px solid #EEEEEE; padding-bottom:10px; padding-top:10px; }
.widget-container li:first-child{ border-top:none; }
.widget-container li:last-child{ border-bottom:none; }

.widget-container p{ margin-left:20px; margin-right:20px; font-size:14px; }

.widget-container #wp-calendar{ width:86%; margin-left:20px; margin-right:20px; }
.widget-container #wp-calendar a{ font-weight:700; }
.widget-container #wp-calendar caption{ margin-bottom:20px; margin-top:20px; }
.widget-container #wp-calendar #prev{ text-align:left; }
.widget-container #wp-calendar #next{ text-align:right; }
.widget-container #wp-calendar tr{ text-align:center; }
.widget-container #wp-calendar td{ padding:5px; }

.widget-container .searchform div{ padding:20px; margin-bottom:0px; }
.widget-container .searchform label{ display:none; }
.widget-container .searchform input{ outline:none; }
.widget-container .searchform #s{ padding:10px; padding-top:8px; padding-bottom:8px; margin-right:0px; float:left; background:#343434; color:#FFFFFF; border:none; }
.widget-container .searchform #searchsubmit{ margin-left:0px; float:left; padding:8px; padding-left:8px; padding-right:8px; text-transform:uppercase; font-weight:700; }
.widget-container .searchform #searchsubmit{ background:#2980b9; border:none; color:#FFFFFF; }



.tagcloud{ margin-left:20px; margin-right:20px; }
.tagcloud a{ background:#f8f8f8; display:inline-block; margin-right:5px; margin-bottom:8px; padding:5px; color:#666666; font-size:14px; }
.tagcloud a:hover{ background:#2980b9; color:#FFFFFF }

.widget-recent-posts li{ border-bottom:none; margin-bottom:0px; }
.widget-recent-posts h6{ font-size:13px; margin-top:10px; margin-bottom:3px; }
.widget-recent-posts span{ font-size:36px; color:#AAAAAA; text-transform:uppercase; }
.widget-recent-posts .post-image{ float:left; margin-right:10px }
.widget-recent-posts .post-image .post-mask{ height:70px; width:70px; background:url(../images/post-avatar.png) no-repeat; position:absolute }
/* Page */
.page-conainer{ background:#FFFFFF; }
.page-conainer .post-margin{ padding:40px; padding-bottom:30px; }
.page-title{ margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #EEEEEE; }

/* Single */
.post-tags{ font-size:13px; text-transform:uppercase; font-weight:700 }
.post-tags .fa-stack{ font-size:25px; }
.post-tags .fa-circle{ color:#f8f8f8; }
.post-tags .fa-tags{ color:#DDDDDD; font-size:20px; }

/* Next And Previous Post thumbnails */
#post-nav{ width:100%; position:fixed; top:50%; z-index:99999; }
#post-nav a{ font-size:13px; color:#FFFFFF; line-height:1.2em; }

#post-nav .post-pagination{
	padding:10px;
	width:210px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}

#post-nav .post-previous{
	background:#343434 url(../images/left-post.png) center right 10px no-repeat;
	float:left;
	padding-right:20px;
	text-align:left;
	position:absolute;
	left:-210px;
	opacity:0.2;
	}
#post-nav .post-previous:hover{ left:0px; background:#343434 url(../images/left-post.png) center left 5px no-repeat; padding-left:30px; opacity:1; }

#post-nav .post-next{
	background:#343434 url(../images/right-post.png) center left 10px no-repeat;
	float:right;
	padding-left:20px;
	text-align:right;
	position:absolute;
	right:-210px;
	opacity:0.2;
	}
#post-nav .post-next:hover{ right:0px; background:#343434 url(../images/right-post.png) center right 5px no-repeat; padding-right:30px; opacity:1 }
#post-nav .post-prev-thumb{ float:left; margin-right:10px; height:50px; width:50px; }
#post-nav .post-next-thumb{ float:right; margin-left:10px; height:50px; width:50px; }
/* Comments */
.comment-container{ background:#FFFFFF; padding-top:30px; padding-bottom:30px; }
#comment-header{ text-align:center; margin-bottom:40px; padding-bottom:30px; border-bottom:1px solid #EEEEEE; }
.comment-list{ margin-left:40px; margin-right:40px; }

.comment-header{overflow:hidden; margin-bottom:10px; font-size:14px; font-weight:700 }
.comment-header a{ color:#2980b9; }
.comment-header a:hover{ color:#343434; }
.comment-text{ overflow:hidden; }
.comment-text p{ font-size:14px; }
.reply-link{ text-transform:uppercase; font-size:14px; font-weight:700; }

.avatar-mask{ height:70px; width:70px; background:url(../images/post-avatar.png); position:absolute }
.avatar-container{ float:left; margin-right:20px; }

.comment-list .children{ margin-left:80px; margin-top:40px; }
.comment-list li{ margin-bottom:60px; }

/* Comment Form */
.commen-form{ margin-left:40px; margin-right:40px; } 
.comment-email, .comment-name, .comment-url{ overflow:hidden; width:50%; padding:10px; margin-bottom:30px; outline:none; background:#EEEEEE; border:none; }
.comment-text-area{ overflow:hidden; width:95%; height:200px; margin-bottom:10px; padding:10px; outline:none; background:#EEEEEE; border:none }
#comment-submit{ background:#343434; border:none; color:#FFFFFF; font-weight:700; text-transform:capitalize; font-size:14px; padding:10px; cursor:pointer }
#comment-submit:hover{ background:#2980b9; }

#cancel-comment-reply-link{ font-size:14px; }
.logged-in-as{ font-size:14px; }
.logged-in-as a{ color:#2980b9; }

.one-tag-list{ margin: 10px 20px;}
.listing-seperator {
    font-size: 17px !important;
}
.listing-seperator {
    font-size: 20px !important;
    line-height: 1.5 !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tags a, .tags .tag {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 999em;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    margin: 0 1px 6px;
    padding: 0 10px;
    text-decoration: none;
}

.tags a, .tags .tag {
    margin-right: 5px;
}

#tag_cloud a, #tag_cloud .tag {
    background: #d6d6d6 none repeat scroll 0 0;
    border: medium none;
    font-size: 14px;
    line-height: 28px;
    margin: 0 2px 8px;
}

#tag_cloud a:hover, #tag_cloud .tag:hover, #tag_cloud a:active, #tag_cloud .tag:active {
    color: #fff; background-color: #0085a1 !important;
}

/* Footer */
#footer-container{ background:#343434; padding:10px 0; }
#footer-container p{ color:#FFFFFF; font-size:14px;margin-left:15px; }

/*===============end style======================*/


/*===============zerogrid======================*/
.zerogrid{ position: relative; margin: 0 auto; width: 980px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{float:left; display: inline-block;}

.zerogrid .col-full{width:100%;}

.zerogrid .col-1-2{width:50%;}

.zerogrid .col-1-3{width:33.33%;}
.zerogrid .col-2-3{width:66.66%;}

.zerogrid .col-1-4{width:25%;}
.zerogrid .col-2-4{width:50%;}
.zerogrid .col-3-4{width:75%;}

.zerogrid .col-1-5{width:20%;}
.zerogrid .col-2-5{width:40%;}
.zerogrid .col-3-5{width:60%;}
.zerogrid .col-4-5{width:80%;}

.zerogrid .col-1-6{width:16.66%;}
.zerogrid .col-2-6{width:33.33%;}
.zerogrid .col-3-6{width:50%;}
.zerogrid .col-4-6{width:66.66%;}
.zerogrid .col-5-6{width:83.33%;}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.zerogrid{width:768px;}
}
@media only screen and (max-width: 767px) {
	.zerogrid{width:100%;}
}
@media only screen and (min-width: 620px) and (max-width: 767px) {
	.zerogrid{width:100%;}
}
@media only screen and (max-width: 619px) {
	.zerogrid, .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
}
@media only screen and (max-width: 400px){
    #header-nav-container .h-logo,#header-nav-container .h-menu{ float: none; }
    #header-nav-container .h-menu{ margin-top: 10px; float: left; margin-left: 10px;}
    .pagination .previous,.pagination .next{ float: none;}
    .pagination li{ margin-bottom: 10px;}
    .pagination li a{ display: block;}
}
/*===============end zerogrid======================*/








/* Featured Carousel */
.carousel-item .featured-image{ width:290px; height:130px; margin-bottom:5px; }
.carousel-item .post-icon{ width:45px; height:45px; position:relative; bottom:25px; margin:0 auto }
.carousel-item .post-icon .fa-stack{ height:45px; width:45px; font-size:25px; }
.carousel-item .post-icon .fa-picture-o{ font-size:18px; }

.carousel-item{ background:#FFFFFF; margin-bottom:0px; }
.carousel-item .post-margin{ padding-left:10%; padding-right:10%; padding-top:5%; padding-bottom:5%; }

.carousel-item h6 a{ font-size:16px; color:#444444 }
.carousel-item h6 a:hover{ color:#2980b9; }
.carousel-item span{ font-size:11px; color:#AAAAAA; text-transform:uppercase; margin-bottom:10px; display:block }
.carousel-item p{ font-size:14px; margin-bottom:5px; }

.list_carousel {
	margin:0 auto;
	width: 930px;
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	width: 290px;
	margin-right:30px;
	padding: 0;
	display: block;
	float: left;
}

.list_carousel li.last{ margin-right:0px; }

			
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.clearfix {
	float: none;
	clear: both;
}

.carousel-controls{
	position:relative;
	bottom:195px;
}

.carousel-controls a{
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	background:#343434;
	color:#FFFFFF;
	font-size:20px;
	
	opacity:0.7;
	filter:Alpha(opacity=70);
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
.carousel-controls a:hover{ background:#2980b9; }

.list_carousel:hover .carousel-controls a{ opacity:1; filter:Alpha(opacity=100); }

.prev { float: left; }
.next { float: right; }









/* Widget Featured Carousel */
.widget-carousel-item .post-icon{ width:45px; height:45px; position:relative; bottom:25px; margin:0 auto }
.widget-carousel-item .post-icon .fa-stack{ height:45px; width:45px; font-size:25px; }
.widget-carousel-item .post-icon .fa-picture-o{ font-size:18px; }

.widget-carousel-item{ background:#FFFFFF; margin-bottom:0px; }
.widget-carousel-item .post-margin{ padding-left:10%; padding-right:10%; padding-top:5%; padding-bottom:5%; }

.widget-carousel-item h6 a{ font-size:16px; color:#444444 }
.widget-carousel-item h6 a:hover{ color:#2980b9; }
.widget-carousel-item span{ font-size:11px; color:#AAAAAA; text-transform:uppercase; margin-bottom:10px; display:block }
.widget-carousel-item p{ font-size:14px; margin-bottom:5px; }

.widget_list_carousel {
	margin:0 auto;
	width: 290px;
}

.widget_list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.widget_list_carousel li {
	width: 290px;
	margin-right:30px;
	padding: 0;
	display: block;
	float: left;
}

.widget_list_carousel li.last{ margin-right:0px; }

			
.widget_list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.widget-carousel-controls{
	position:relative;
	bottom:195px;
}

.widget-carousel-controls a{
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	background:#343434;
	color:#FFFFFF;
	font-size:20px;
	
	opacity:0.7;
	filter:Alpha(opacity=70);
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
.widget-carousel-controls a:hover{ background:#2980b9; }

.widget_list_carousel:hover .carousel-controls a{ opacity:1; filter:Alpha(opacity=100); }

.widget-prev { float: left; }
.widget-next { float: right; }

/*Next Page */
.next a i.fa.fa-arrow-circle-o-right {padding-right: 16px;}
.pagination li.next a {padding-right: 0px;}
