---
layout: page
description: "free as wind"
---

<!-- Start Post Item -->
{% for post in paginator.posts %}
<div class="post clearfix">
    <div class="post-margin clearfix">
        <h3 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
        </h3>
        {% if post.subtitle %}
        <div class="post-subtitle">
            {{ post.subtitle }}
        </div>
        {% endif %}
        <ul class="post-status">
            <li><i class="fa fa-clock-o"></i>{{ post.date | date: "%B %-d, %Y" }}</li>
        </ul>
    </div>   
    <div class="post-margin">
        {{ post.content | strip_html | truncate:400 }}
    </div>
    <ul class="post-social">
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">
                Read More <i class="fa fa-arrow-circle-o-right"></i>
            </a>
        </li>
    </ul>
</div>
{% endfor %}
<!-- End Post Item -->
<!-- Start Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pager10">
    <ul class="pagination clearfix">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-circle-o-left"></i> Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts <i class="fa fa-arrow-circle-o-right"></i></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
<!-- End Pagination -->