---
title: Tags
layout: page
description: keep hungry keep foolish
---

<h5 class="page-title">Tags</h5>

<div id="tag_cloud" class="tags">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
    {% endfor %}
</div>
<!-- 标签列表 -->
{% for tag in site.tags %}
<div class="one-tag-list">
    <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">{{ tag[0] }}</span>
    {% for post in tag[1] %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </a>
        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
    </div>
    <hr>
    {% endfor %}
</div>
{% endfor %}
{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread"
        data-thread-key="{{site.duoshuo_username}}/about"
        data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
    </div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}