<!DOCTYPE html lang="en-US">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="keyword"  content="{{ site.keyword }}">
<link rel="shortcut icon" href="img/favicon.ico">
<title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
<link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel='stylesheet' href="{{ "/css/style.css" | prepend: site.baseurl }}" type='text/css' media='all' />
<link rel='stylesheet' href="{{ "/css/color/green.css" | prepend: site.baseurl }}" type='text/css' media='all' />
<link href="{{ "/google-code-prettify/vibrant-ink.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all">
<script src="{{ "/google-code-prettify/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/google-code-prettify/prettify.js" | prepend: site.baseurl }}"></script>
<body class="home blog">
    <!-- Start Header -->
    <div class="container zerogrid clearfix">
        <div class="col-full">
            <div class="wrap-col">
                <div id="header-nav-container" class="clearfix">
                    <div class="h-logo">
                        <a href="{{ site.baseurl }}/">
                            {{ site.title }}
                        </a>
                    </div>
                    <div class="h-menu">
                        <!-- Navigation Menu -->     
                        <ul class="sf-menu">
                            <li id="home" class="menu-item current-menu-item">
                                <a href="{{ site.baseurl }}/">Home</a>
                            </li>
                            <li id="about" class="menu-item">
                                <a href="/about/">About</a>
                            </li>
                            <li id="tags" class="menu-item">
                                <a href="/tags/">Tags</a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>